
        <html>
        <head>
            <title>Status List</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <script src="{{ url_for('static', filename='script.js') }}"></script>
        </head>
        <body>
            <h1>Status List</h1>
            <form id="status-form">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Content</th>
                        <th>Google Maps Link</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Keep</th>
                    </tr>
        
            <tr>
                <td><a href='https://mastodon.social/@helio_weather/110680592359662835' target='_blank'>110680592359662835</a></td>
                <td><p>Stockholm<br />Date: 2023-07-08 23:30<br />Temperature: 20.4°C<br />Summary: Mainly Clear<br />via <a href="http://forecast.io/#/f/59.4029,17.9436" target="_blank" rel="nofollow noopener noreferrer" translate="no"><span class="invisible">http://</span><span class="ellipsis">forecast.io/#/f/59.4029,17.943</span><span class="invisible">6</span></a></p></td>
                <td><a href='https://www.google.com/maps/place/59.4029,17.9436/@59.4029,17.9436,1500m/data=!3m1!1e3' target='_blank'>LINK</a></td>
                <td><input type='text' value='59.4029'></td>
                <td><input type='text' value='17.9436'></td>
                <td><input type='checkbox' name='status-checkbox' value='110680592359662835'></td>
            </tr>
            
                </table>
                <br>
                <button type='button' onclick='updateJsons()'>OK</button>
            </form>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
        </body>
        </html>
        